.about{
	margin-left: 200px;
}

.about__title{
	font-size: 54px;
	font-weight: bold;
	padding-top: 50px;
	padding-left: 10px;
}

.about__container{

}

.about__container-item{
	float: left;
}

.about__item{
	display:inline-block;
	width:320px;
	height:120px;
	padding-top: 30px;
	padding-left: 20px;
	font-size: 20px;
	font-weight: bold;
}

.about__review{
	margin-left:0px;
	border:solid ;
}

.about__review-container{
	margin-left:50px;
	border:solid ;
	

}
.about__review-element{
	border:solid ;
	display:inline-block;

}

.about__review-title{
	display:inline-block;
	border:solid ;
} 
.about__review-write{
	display:inline-block;
	border:solid ;
	margin-left:180px;
}
.about__review-text{
	display:inline-block;
}
.about__review-arrows{
	display:inline-block;
	border:solid ;
	margin-left:60px;
}

