.about{
}

.about__title{
	padding-top: 50px;
	padding-left: 215px;
}

.about__container{
	margin-left: 200px;
	height: 475px;
	width: 700px;
	padding-top: 25px;
}

.about__container-item{
	float: left;
	padding-bottom: 15px;
}

.about__item{
	display: inline-grid;
	width: 323px;
	height: 120px;
	padding-top: 20px;
	padding-left: 25px;
	line-height: 22px;
}

.item1{
	float: left;
}

.item2{
	float: right;
}

.about__image{
	width: 50px;
	text-align: center;
}