.about{
	
	
}


.about__title{
	padding-top: 45px;
	padding-left: 220px;
}

.about__container{
margin-left: 200px;
border: solid;
height: 475px;
width: 700px;
}

.about__container-item{
	float: left;
	border: solid;
}

.about__item{
	display:inline-block;
	width:321px;
	height:120px;
	padding-top: 30px;
	padding-left: 20px;
	//font-size: 20px;
	//font-weight: bold;
	border: solid;
	
}
.item1{
	float: left;
}
.item2{
	float: right;
}