.footer{
	background-color: #f1f1f1;	
	margin-top: 25px;
}

.footer__container{
	width: 1168px;	
	height: 140px;
	margin: 0 50px;	
}

.footer__container-logo{
	display: inline-block;
	margin-top: 50px;
	margin-left: 50px;
}

.footer__logo{
	background: url(../img/logo-footer.png) no-repeat;
	width: 100px;	
	height: 40px;
}

.footer__logo:hover{
	background: url(../img/logo-footer-hover.png) no-repeat;
}

.footer__logo:active{
	background: url(../img/logo-footer-active.png) no-repeat;
}

.footer__container-refer{
	display: inline-block;
	margin-left: 350px;
	letter-spacing: 35px; 
	width: 200px;
}



.footer__insta{
	display: inline-block;
	background: url(../img/insta.png) no-repeat;
	width: 25px;	
	height: 30px;
}

.footer__insta:hover{
	background: url(../img/insta-hover.png) no-repeat;
}

.footer__insta:active{
	background: url(../img/insta-active.png) no-repeat;
}

.footer__fb{
	display: inline-block;
	background: url(../img/fb.png) no-repeat;
	width: 18px;	
	height: 30px;
}

.footer__fb:hover{
	background: url(../img/fb-hover.png) no-repeat;
}

.footer__fb:active{
	background: url(../img/fb-active.png) no-repeat;
}
.footer__twitter{
	display: inline-block;
	background: url(../img/twitter.png) no-repeat;
	width: 25px;
	height: 30px;
}
.footer__twitter:hover{
	background: url(../img/twitter-hover.png) no-repeat;
}

.footer__twitter:active{
	background: url(../img/twitter-active.png) no-repeat;
}

.footer__container-devel{
	display: inline-block;
	margin-top: 60px;
	float: right;
	margin-right: 120px;
} 


