
.footer{
	background-color: #e7e7e7;	
}

.footer__container{
	width: 1168px;	
	height: 140px;
	margin: 0 50px;	
}

.footer__container-logo{
	display: inline-block;
	margin-top: 50px;
	margin-left: 50px;
}

.footer__container-refer{
	display: inline-block;
	margin-left: 350px;
	letter-spacing:40px; 
}


.footer__container-devel{
	display: inline-block;
	margin-top: 60px;
	font-weight: bold;
	font-size: 19px;
	float: right;
	margin-right: 130px;
} 


