.form{
//	border:solid;
}

.form__text{
	margin-left: 220px;
	margin-top: 110px;
	color: #444444; 
	line-height: 30px; 
	//border: solid;
}

.form__type{
	background-color: #FFFFFF;
	//border: solid;
	height: 240px;
}

.form__color{
	background-color: #e7e7e7;
//	border: solid;
	height: 225px;
}

.form__name{
	background-color: #FFFFFF;
	//border: solid;
	height: 305px;
}

.form__contact{
	background-color: #e7e7e7;
//	border: solid;
	height: 225px;
}

.form_dopinfo{
	background-color: #FFFFFF;
	//border: solid;
	height: 260px;
}

.form__param{
	display: inline-block;
	float: left;
	color: #62d1ba;
	//border: solid;
	width: 160px;
	margin-left: 50px;
}

.form__text-title{
	//border:solid;
	text-align: center;
}

.form__param_color {
	margin-top: 60px;
}
.form__param_info {
	margin-top: 60px;
}
.form__param_contacts {
	margin-top: 60px;
}
.tel{

}
.e-mail{
	margin-top: 60px;
}

.form__param_dopinfo {
	margin-top: 60px;
}
.form__param_type {
	margin-top: 60px;
}

.form__attribute{
	display:inline-block; 
	//border: solid;
	margin-top: 30px;
	line-height:60px; 
}

.form__radiobutton{

}

.form__checkbox{
	width: 250px;
}

.form__info-label-text{
	
}

.form__info-text{

}

.form__tel-email{

}

.form__textarea{

}

.form__line-dopinfo{
	//border: solid;
}

.form__line-contacts{
	margin-top: 10px;
	margin-left: 10px;
	border-bottom: 1px solid;
	width: 700px;
	
}

.form__line{
	border-bottom: 1px solid;
	display:inline-block; 
	width: 590px;
}


.form__border{
	border: none;
}

.form__border-dopinfo{
	border: none; 
	width: 700px;
} 

.form__border-contact{
	border: none;
	background-color: #e7e7e7;

	
}

.form__label{
	// фамилия, имя, отчество
	//border: solid;
}

