.home{
	background-color: #f9f9f9;
}

.home__image{
	background: url(../img/hero-desktop.jpg);	
	height: 745px;
	position: relative;
//	margin-left: 5px;
}

.menu{
	width: 1060px;
	margin-left: 47px;
	border: solid;
	border-color: #f9f9f9;
}

.menu__new{
	display: inline-block;
	margin-top: 15px;
	margin-right: 58px;
	float: left;
//	margin-left: 7px;
}

.menu__sale{
	display: inline-block;
	margin-top: 15px;
	float: left;
}

.menu__info{
	display: inline-block;
	margin-top: 15px;
	float: right;
	margin-right: 10px;
}

.menu__txt-info{
	text-decoration: none;
	color: #a5a5a5;
	letter-spacing: 0.1px;
	font-size: 15px;
}

.menu__title{
	margin-top: 110px;
	margin-left: 270px;
	text-align: center;
	letter-spacing: 0.2px;
	float: left;
	line-height: 60px;
}

.home-button{
	bottom: 0px;
	position: absolute;
	margin-top: 100px;
	margin-left: 50px;
	width: 1050px;
	height: 120px;	
}

.home__image-bottom{
	position: absolute;
	z-index: 10;
	top: 815px;
}

.home-button__item{
	padding-left: 37px;
	padding-top: 5px;
	color: #ffffff;
	line-height: 30px;
	width: 524px;
	height: 120px;
	border: none;
	text-align: left;
}

.inter{
	float: left;
	background-color: #63d1bb;
	outline: none;
}

.inter:hover{
	padding-bottom:5px;
	background-color: #59d5bc;
}

.inter:active{
	background-color: #59d5bc;
	color:#97e2d2;
}

.kids{
	float: left;
	background-color: #56c3b2;
	outline: none;
}

.kids:hover{
	padding-bottom:5px;
	background-color: #46c1ae;
}

.kids:active{
	background-color: #46c1ae;
	color:#8dd5c9;
}

.home-button__item-text{
	width: 200px;
	float: left;
}

.home-button__img{
	display: inline-block;
	float: right;
	padding-right: 30px;

}


