.product{

}

.product__title{
	margin-left: 220px;
	margin-top: 45px;
	position: absolute;
}

.product__container{
	margin-left: 50px;
	margin-top: 70px;

}

.product__ned{
	display: inline-block;
	width: 160px;
	float: left;
	margin-top: 65px;
	text-align: center;
	color: #63d1bb;
	line-height: 17px;
}

.product__info{
	display: inline-block;
	width: 290px;
	line-height: 30px;
	padding-left:15px;
	padding-top: 5px;
}

.product-week{
	margin-top: 150px;
	letter-spacing: 0.5px;
}
.product-week__information{
	color: #444444;
	letter-spacing: 0.1px;
}

.product-week__container{
	margin-top: 47px;
	line-height: 40px;
}

.product-week__param{
	display: inline-block;
	width: 40px;
	height: 20px;
	letter-spacing: 0.1px;
}

.product-week__atr{
	display: inline-block;
	padding-left: 50px;
	letter-spacing: 0.1px;
}

.product-week__line{
	border-bottom: 1px solid;
	border-color: #e7e7e7;
}

.product-week__price{
	margin-top: 110px;
	margin-left: 70px;
	color: #444444;
}

.product-week__order{
	margin-top: 30px;		
}

.product-week__order-text{
	padding: 8px 8px 10px 10px;
	color: #444444;
	letter-spacing: 0.1px;
	border: 2px solid;
	background-color: #FFFFFF;
	width: 285px;
	height: 50px;
	border-color: #444444;
}

.product__image{ 
	display: inline-block;
	width: 520px;
	height: 630px;
	float: right;
	background: url(../img/triple-set-desktop.jpg);	
	margin-right: 50px;
}

.product__line{
	margin-top:70px;	
}
